@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  color: var(--dark-grayish-blue);

  /* Colors */
  /*gradient*/
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /*text*/
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /*component background*/
  --light-grayish-blue: hsl(240, 5%, 91%);
}

/* ------ GENERAL STYLING ------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}
  
a {
  color:darkblue;
  text-decoration: none;
  }
  
a:link, a:visited {
  color:darkblue;
}
  
a:hover {
  color:black;
}

img {
  max-width: 100%;
  height: auto;	
}

footer {
  font-size: 11px;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background-color:cornflowerblue;
  display: inline-block;
  margin: 0 auto;
  width: 26rem;
  border-radius: 2rem;
  color: var(--very-dark-desaturated-blue);
  @media screen and (max-height: 41rem) {
    display: none;
  }
}

body {
  background-image: linear-gradient(to bottom, var(--soft-violet), var(--soft-blue));
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ------ Card Styling ------ */
main {
  display: flex;
  flex-direction: column;
}

/* ---Image Style--- */
.img-container {
  max-width: 85%;
  margin: 0 auto;
  z-index: 1;
  }
  
.img-container > .img-shadow {
  margin: -6.25rem auto 0 auto;
  }

/* --- Card Style --- */
.component {
  background-color: var(--light-grayish-blue);
  margin: 0 1.5rem;
  margin-top: -9rem;
  border-radius: 2rem;
  padding: 0 2rem;
  padding-bottom: 4rem;
  padding-top: 8.5rem;
  box-shadow: 0rem 4rem 4.80rem -4.80rem black;
}

/* ---Text Section style--- */
.text-container {
  margin-top: 2rem;
}

.text-container > h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
}

/* ---Accordion--- */
.accordion-item {
  padding-top: 1.5rem
}

.accordion-item > .item-header {
  display: flex;
  align-items: center;
  padding-bottom: 1.25rem;
}

.item-header > img {
    width: 0.90rem;
    height: 0.65rem;
    margin-left: 1.75rem;
    margin-right: 0.5rem;
  }

.header-text {
  font-size: 14px;
  margin-right: auto;
  font-weight: 400;
  color: var(--very-dark-grayish-blue);
}

.item-body {
  display: none;
  padding-bottom: 1.5rem;
  padding-right: 2rem;
}

/* Other classes */

hr {
  border: 0.25px solid var(--light-grayish-blue);
  border-bottom: 0.25px solid var(--dark-grayish-blue);
  opacity: 60%;
}

.bold {
  color: var(--very-dark-desaturated-blue);
  font-weight: 700;
}

@media screen and (min-width: 64rem) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* ---Image Style--- */
  .img-contaner {
    max-width: 50%;
  }
  
  /* --- Card Style --- */
  .component {
    margin: 0;
    padding: 2.5rem 7rem 7rem 25.5rem;
  }



}





