@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  color: var(--dark-grayish-blue);

  /* Colors */
  /*gradient*/
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /*text*/
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /*component background*/
  --light-grayish-blue: hsl(240, 5%, 91%);
}

/* ------ GENERAL STYLING ------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}
  
a {
  color:darkblue;
  text-decoration: none;
  }
  
a:link, a:visited {
  color:darkblue;
}
  
a:hover {
  color:black;
}

img {
  max-width: 100%;
  height: auto;	
}

footer {
  font-size: 11px;
  text-align: center;
  display: inline-block;  
  margin: 0 1.5rem;
  margin-bottom: 1rem;
  color: var(--very-dark-desaturated-blue);
}

body {
  background-image: linear-gradient(to bottom, var(--soft-violet), var(--soft-blue));
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* --- Card Style --- */
.component {
  display: flex;
  flex-direction: column;
  background-color: var(--light-grayish-blue);
  margin: 0 1.5rem;
  margin-top: 10.5rem;
  margin-bottom: 0.5rem;
  border-radius: 2rem;
  padding: 0 2rem;
  padding-bottom: 4rem;
  box-shadow: 0rem 4rem 4.80rem -4.80rem black;
  max-width: 28.33rem;
}

/* ---Image Style--- */
.img-container {
  max-width: 85%;
  margin: 0 auto;
  margin-top: -9rem;
  }
  
.img-container .img-shadow {
  margin: -6.25rem auto 0 auto;
  }

.box-container {
  display: none;
}

/* ---Text Section Style--- */
.text-container {
  margin-top: 1.5rem;
}

.text-container > h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* ---Accordion--- */

.item-header {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.25rem;
  cursor: pointer;
}

.arrow {
  width: 0.90rem;
  height: 0.65rem;
  margin-left: 1.75rem;
  margin-right: 0.5rem;
  transition: transform 0.5s;
  }

.rotate {
  transform: rotate(180deg);
}

.header-text {
  font-size: 14px;
  margin-right: auto;
  font-weight: 400;
  color: var(--very-dark-grayish-blue);
}

.bold {
  color: var(--very-dark-desaturated-blue);
  font-weight: 700;
}

.item-header:active .header-text{
  color: var(--soft-red);
}

.clicked  {
  color: var(--soft-red); 
}

.item-body {
  padding-bottom: 1.5rem;
  padding-right: 2rem;
}

.hidden {
  visibility: hidden;
}


/* Other classes */

hr {
  border: 0.25px solid var(--light-grayish-blue);
  border-bottom: 0.25px solid var(--dark-grayish-blue);
  opacity: 60%;
}
@media screen and (min-width: 64rem) {
  /* --- Card Style --- */
  .component {
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    max-width: 75rem;
    margin: 2rem 0 0.5rem 0rem;
    position: relative;
  }

  /* ---Image Style--- */
  .img-container {
    max-width: 45%;
    margin: 0;
    position: relative;
    z-index: 1;
    padding: 6rem 0;
    overflow: hidden;
  }

  .woman-img {
    max-width: none;
    margin-left: -7rem;
  }

  .img-container .img-shadow {
    max-width: none;
    width: 79rem;
    height: auto;
    margin: 0;
    position: absolute;
    left: -145%;
    top: -57%;
    z-index: -1;
  }

  .box-container {
    display: block;
    position: absolute;
    z-index: 2;
    top: 41%;
    left: -10.5%;
  }

  
  .text-container {
    width: 50ch;
    margin: 5rem 7rem 6rem 5rem;
  }

  .text-container > h1 {
    text-align: start;
  }
  
  
  

  

}





